/cmake-build-release/
/cmake-build-debug/
/res/saves/default/
/res/resourcepacks/Dokucraft/
/res/resourcepacks/Misa/
/res/resourcepacks/R3DCraft/
/res/resourcepacks/Simplistic/
/CMakeFiles/
/.idea/
/.cache/
/.vscode/
/build/
Makefile
kxCraft
CMakeCache.txt
cmake_install.cmake